# Laravel & PHP
/vendor/
.env
.env.*
.phpunit.result.cache
.phpunit.cache
/storage/*.key
/storage/debugbar
/bootstrap/cache/*.php

# Public
/public/build/
/public/hot/
/public/storage/
/public/mix-manifest.json

# Node & Frontend
/node_modules/
/npm-debug.log
/yarn-error.log
/pnpm-debug.log
/.eslintcache

# Development Tools & Editors
/.idea/
/.vscode/
/.fleet/
/.DS_Store

# Homestead / Valet
Homestead.yaml
Homestead.json
.valet/

# Composer / Auth files
auth.json
composer.lock

# Temporary / Local
temp/
tmp/
*.bak
*.log
*.local

# Miscellaneous
*.cache
*.swp
*.swo
Thumbs.db
